.cfb-or {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;

  margin-bottom: 2rem;

  &__line {
    height: 1px;
    background-color: lighten($color: $gray-2, $amount: 50%);
    flex: 1;

    &--2 {
      background-color: lighten($color: $gray-2, $amount: 20%);
    }
  }

  &__text {
    margin: 0 1rem;
    font-size: 1.4rem;
    color: $white;
  }
}
