.toast-body {
  margin: 0px;
  margin-right: 2px;
  display: flex;
  word-break: break-word;
}

.toast-container {
  color: #4e4e4e !important;
  border-radius: 6px !important;
  font-size: smaller;
  min-height: unset !important;
}

.toast-container-success {
  border-left: 6px solid #24d471 !important;
  background-color: #fff !important;
}

.toast-container-info {
  border-left: 6px solid #24c4d4 !important;
  background-color: #fff !important;
}

.toast-container-error {
  background-color: #fff !important;
  border-left: 6px solid #ff5a7d !important;
}

.toast-icon {
  border-radius: 50%;
  margin: 8px 10px 0 0;
}

.toast-icon-success {
  border: 2px solid #24d471;
  color: #24d471;
}

.toast-icon-info {
  border: 2px solid #24c4d4;
  color: #24c4d4;
}

.toast-icon-error {
  border: 2px solid #ff5a7d;
  color: #ff5a7d;
}

.toast-heading {
  font-size: 15px;
  font-weight: 550;
  /* margin: 3px 0; */
  text-transform: capitalize;
}

.toast-content {
  margin-bottom: 3px;
}
