.cfb-buttonWithIcon {
  background-color: $white;
  align-self: center;

  margin-top: 2rem;

  padding: 0.5rem 3rem;
  transition: all 0.5s;
  border: none;
  border: 1px solid $white;

  border-radius: 50px;
  margin-bottom: 4rem;
  display: block;
  color: $blue-2;

  box-shadow: 0 3rem 5rem rgba($color: $black, $alpha: 0.5);

  @media only screen and (max-width: $bp-smallest) {
    margin-top: 1rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    width: 80%;
  }

  &:hover {
    background-color: $blue-2;
    color: $white;

    border: 1px solid $white;
    //   font-weight: 500;
  }

  &__icon {
    margin-left: 1rem;
  }

  &__text {
  }
}
