.cfb-inputWithIcon {
  align-self: stretch;
  border: 1.5px solid rgba($black, 0.1);
  margin-bottom: 2rem;
  // padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  background-color: $black;

  // &:focus-within {
  //   border: 1.5px solid darken($color: $dark-green-1, $amount: 10%);
  // }

  &__icon {
    margin-right: 1rem;
    font-size: 2rem;
  }

  &__input {
    border: none;
    padding: 0.4rem 1rem;
    font-weight: 500;
    flex: 1;

    &::-webkit-input-placeholder {
      color: $black;
    }

    &:focus {
      outline: none;
    }
  }

  // &__button {
  //   align-self: stretch;
  //   padding: 1rem 3rem;
  //   margin-bottom: 2rem;
  //   text-align: center;

  //   &:hover {
  //     box-shadow: 0 0.5rem 1rem rgba($color: $black, $alpha: 0.3);
  //   }
  // }
}
